<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CursorCommon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CursorCommon.Properties.Settings>
            <setting name="AnnotationSquareSize" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="MarkerSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MarkerColor" serializeAs="String">
                <value>#FFFF4500</value>
            </setting>
        </CursorCommon.Properties.Settings>
    </applicationSettings>
</configuration>